<div style="text-align:center">
  <mat-card class="example-card">
    
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card-content>
              <input type="file" name="myphoto" (change)="onFileChange($event)" />
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button type="submit" color="primary">Upload</button>
        </mat-card-actions>
      </form>
  </mat-card>
</div>
